* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    margin-block: 0;
    margin-inline: 0;

    /*variables*/
    --firstcolor:#D0E3C4;
    --secondcolor:#503047;
    --thirdcolor:#C05746;
    --forthcolor:#e2887b76;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--firstcolor);
}

main {
    padding-bottom: 30px;
}

h1 {
    font-size: 6vw;
    color: var(--secondcolor);
}

h2 {
    font-size: 2rem;
    color: var(--thirdcolor);
}

h3 {
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    font-size: 1rem;
    padding-bottom: 20px;
}

p {
    font-size: 0.7rem;
}

/*---------------------------------header menu--------------------------------*/
.nav-menu {
    padding: 0.8rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto 20vw auto auto;
    place-items: center;
}
#item1 {
    grid-row: 1;
    grid-column: 1;
}
#item2 {
    grid-row: 1;
    grid-column: 2;
}
#sitelogo {
    grid-row: 1;
    grid-column: 3;
}
#sitelogo img{
    display: grid;
    height: 6rem;
}
#item3 {
    grid-row: 1;
    grid-column: 4;
}
#item4 {
    grid-row: 1;
    grid-column: 5;
}
.nav-item a {
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--secondcolor);
}
.nav-item a:hover {
    color: var(--thirdcolor);
    font-weight: 700;
}

/*Responsiveness*/
@media (max-width:700px) {
    .nav-menu {
        grid-template-columns: auto auto auto auto;
    }
    #item1 {
        grid-row: 2;
        grid-column: 1;
    }
    
    #item2 {
        grid-row: 2;
        grid-column: 2;
    }
    
    #sitelogo {
        grid-row: 1;
        grid-column: 1/ span 4;
    }

    #sitelogo img{
        height: 5rem;
    }
    
    #item3 {
        grid-row: 2;
        grid-column: 3;
    }
    
    #item4 {
        grid-row: 2;
        grid-column: 4;
    }
}

/*-----------------------------------main part--------------------------------*/
#roles, #about, #cv, #contact {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
    margin-top: 4vw;
}
/*------------------------------------roles-----------------------------------*/

#roles h1:hover {
    color: var(--thirdcolor);
}
.part {
    font-size: 1vw;
}
#role-item1 {
    grid-row: 1;
    grid-column: 1;
}
#home-image {
    width: 24vw;
    grid-row: 1;
    grid-column: 2;
}
#role-item2 {
    grid-row: 1;
    grid-column: 3;
}

/*------------------------------------about-----------------------------------*/

#about {
    margin-left: 5vw;
    margin-right: 5vw;
    justify-items: left;
}
.about {
    padding-top: 3vw;
}
.about p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/*------------------------------------cv--------------------------------------*/

#cv {
    margin-left: 5vw;
    grid-template-columns: 50vw auto;
    justify-items: left;
    align-items: start;
}
#cv-tittle {
    grid-row: 1;
    grid-column: 1;
}
#cv-item1 {
    grid-row: 2;
    grid-column: 1;
}
#cv-item2 {
    grid-row: 5;
    grid-column: 1;
}
#cv-item3 {
    grid-row: 4;
    grid-column: 1;
}
#cv-item4 {
    grid-row: 2/ span 3 ;
    grid-column: 2;
}
#cv-item5 {
    grid-row: 3;
    grid-column: 1;
}
#cv-item6 {
    grid-row: 4;
    grid-column: 2;
}

/*EDUCATION--AWARDS--LANGUAGES--ACTIVITIES*/
#education, #awards, #languages, #activities {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10vw 30vw;
    row-gap: 2vw;
    justify-items: left;
}
#education a {
    color: black;
}
#education a:hover {
    color: var(--thirdcolor);
    font-weight: bolder;
}

/*SOFTWARE--CODING*/
.light-grey {
    background-color:#f1f1f1;
    position: relative;
    width: 200px;
    top: 8px;
}
.round {
    border-radius:8px;
}
.progress-bar {
    background-color: var(--thirdcolor);
    padding: 3px;
}
#software, #coding {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 2vw;
    justify-items: left;
}

/*-----------------------------------portfolio----------------------------------*/
#portfolio {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
    margin-top: 4vw;
}
#portfolio h2 {
    grid-row: 1;
    grid-column: 1;
}
#architecture {
    grid-row: 2;
    grid-column: 1;
}
#development {
    grid-row: 4;
    grid-column: 1;
    margin-top: 2rem;
    
}

/*ARCHITECTURE*/
#archprojects {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    gap: 7vw;
}

#kringlan {
    grid-row: 1;
    grid-column: 1;
}
#accelerator {
    grid-row: 1;
    grid-column: 2;
}
#ahouse {
    grid-row: 1;
    grid-column: 3;
}
#pegasus {
    grid-row: 1;
    grid-column: 4;
}
#polhemsgatan {
    grid-row: 2;
    grid-column: 1;
}
#ringvagen {
    grid-row: 2;
    grid-column: 2;
}
#sagen {
    grid-row: 2;
    grid-column: 3;
}
#flygaren {
    grid-row: 2;
    grid-column: 4;
}
#inrehamnen {
    grid-row: 3;
    grid-column: 1;
}
#kabeln {
    grid-row: 3;
    grid-column: 2;
}
#spannmalet {
    grid-row: 3;
    grid-column: 3;
}
#frosakull {
    grid-row: 3;
    grid-column: 4;
}

/*Responsiveness*/
@media (max-width:900px) {
    #archprojects {
        grid-template-columns: auto auto auto;
    }
    #pegasus {
        grid-row: 2;
        grid-column: 1;
    }
    
    #polhemsgatan {
        grid-row: 2;
        grid-column: 2;
    }
    
    #ringvagen {
        grid-row: 2;
        grid-column: 3;
    }
    
    #sagen {
        grid-row: 3;
        grid-column: 1;
    }
    
    #flygaren {
        grid-row: 3;
        grid-column: 2;
    }
    
    #inrehamnen {
        grid-row: 3;
        grid-column: 3;
    }
    
    #kabeln {
        grid-row: 4;
        grid-column: 1;
    }
    
    #spannmalet {
        grid-row: 4;
        grid-column: 2;
    }
    
    #frosakull {
        grid-row: 4;
        grid-column: 3;
    }
}
@media (max-width:650px) {
    #archprojects {
        grid-template-columns: auto auto;
    }
    #ahouse {
        grid-row: 1;
        grid-column: 1;
    }
    
    #pegasus {
        grid-row: 1;
        grid-column: 2;
    }
    
    #polhemsgatan {
        grid-row: 2;
        grid-column: 1;
    }
    
    #ringvagen {
        grid-row: 2;
        grid-column: 2;
    }
    
    #sagen {
        grid-row: 3;
        grid-column: 1;
    }
    
    #flygaren {
        grid-row: 3;
        grid-column: 2;
    }
    
    #inrehamnen {
        grid-row: 4;
        grid-column: 1;
    }
    
    #kabeln {
        grid-row: 4;
        grid-column: 2;
    }
    
    #spannmalet {
        grid-row: 5;
        grid-column: 1;
    }
    
    #frosakull {
        grid-row: 5;
        grid-column: 2;
    }
}

/*Images*/
.project-image {
    position: relative;
}
.project-image img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    filter: grayscale(40%);
    opacity: 1;
    border-radius: 0.4rem;
    z-index: 2;
}
.project-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondcolor);
    white-space: nowrap;
    z-index: 1;
    display: none;
}
.project-image:hover img {
    filter: grayscale(80%);
    opacity: 0.5;
    /*Border without moving image
    box-shadow: 0 0 0 5px var(--thirdcolor);*/
}
.project-image:hover p {
    display: block;
}

/*DEVELOPMENT*/
#devprojects {
    grid-row: 5;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    justify-items: left;
    gap: 3vw;

}
.development p {
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.development a {
    margin-top: 10px;
    padding: 5px 5px 5px 0;
    font-size: 0.8rem;
    color: black;
}
.development a:hover {
    font-weight: bold;
}
#dev1 {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: 8vw auto;
    grid-template-columns: auto;
}
#dev2 {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 8vw auto;
    grid-template-columns: auto;
}
#dev3 {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid-template-rows: 8vw auto;
    grid-template-columns: auto;
}
#dev4 {
    grid-row: 1;
    grid-column: 4;
    display: grid;
    grid-template-rows: 8vw auto;
    grid-template-columns: auto;
}
#dev5 {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 6vw auto;
    grid-template-columns: auto;
}
#dev6 {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 6vw auto;
    grid-template-columns: auto;
}
#dev7 {
    grid-row: 2;
    grid-column:3;
    display: grid;
    grid-template-rows: 6vw auto;
    grid-template-columns: auto;
}
#dev8 {
    grid-row: 2;
    grid-column: 4;
    display: grid;
    grid-template-rows: 6vw auto;
    grid-template-columns: auto;
}
#dev1:hover, #dev2:hover, #dev3:hover, #dev4:hover, #dev5:hover, #dev6:hover, #dev7:hover, #dev8:hover {
    background-color: var(--forthcolor);
    border-radius: 5px;
}

/*Responsiveness*/
@media (max-width:1100px) {
    #dev1 {
        grid-template-rows: 10vw auto;
    }
    #dev2 {
        grid-template-rows: 10vw auto;
    }
    #dev3 {
        grid-template-rows: 10vw auto;
    }
    #dev4 {
        grid-template-rows: 10vw auto;
    }
    #dev5 {
        grid-template-rows: 8vw auto;
    }
    #dev6 {
        grid-template-rows: 8vw auto;
    }
    #dev7 {
        grid-template-rows: 8vw auto;
    }
    #dev8 {
        grid-template-rows: 8vw auto;
    }
}
@media (max-width:1000px) {
    #dev1 {
        grid-template-rows: 12vw auto;
    }
    #dev2 {
        grid-template-rows: 12vw auto;
    }
    #dev3 {
        grid-template-rows: 12vw auto;
    }
    #dev4 {
        grid-template-rows: 12vw auto;
    }
}
@media (max-width:900px) {
    #dev1 {
        grid-row: 1;
        grid-column: 1;
        grid-template-rows: 11vw auto;
    }
    #dev2 {
        grid-row: 1;
        grid-column: 2;
        grid-template-rows: 11vw auto;
    }
    #dev3 {
        grid-row: 1;
        grid-column: 3;
        grid-template-rows: 11vw auto;
    }
    #dev4 {
        grid-row: 2;
        grid-column: 1;
        grid-template-rows: 12vw auto;
    }
    #dev5 {
        grid-row: 2;
        grid-column: 2;
        grid-template-rows: 12vw auto;
    }
    #dev6 {
        grid-row: 2;
        grid-column: 3;
        grid-template-rows: 12vw auto;
    }
    #dev7 {
        grid-row: 3;
        grid-column: 1;
        grid-template-rows: 10vw auto;
    }
    #dev8 {
        grid-row: 3;
        grid-column: 2;
        grid-template-rows: 10vw auto;
    }
}
@media (max-width:800px) {
    #dev1 {
        grid-template-rows: 13vw auto;
    }
    #dev2 {
        grid-template-rows: 13vw auto;
    }
    #dev3 {
        grid-template-rows: 13vw auto;
    }
}
@media (max-width:700px) {
    #dev1 {
        grid-template-rows: 14vw auto;
    }
    #dev2 {
        grid-template-rows: 14vw auto;
    }
    #dev3 {
        grid-template-rows: 14vw auto;
    }
    #dev4 {
        grid-template-rows: 14vw auto;
    }
    #dev5 {
        grid-template-rows: 14vw auto;
    }
    #dev6 {
        grid-template-rows: 14vw auto;
    }
}
@media (max-width:650px) {
    #dev1 {
        grid-row: 1;
        grid-column: 1;
        grid-template-rows: 13vw auto;
    }
    #dev2 {
        grid-row: 1;
        grid-column: 2;
        grid-template-rows: 13vw auto;
    }
    #dev3 {
        grid-row: 2;
        grid-column: 1;
        grid-template-rows: 15vw auto;
    }
    #dev4 {
        grid-row: 2;
        grid-column: 2;
        grid-template-rows: 15vw auto;
    }
    #dev5 {
        grid-row: 3;
        grid-column: 1;
        grid-template-rows: 11vw auto;
    }
    #dev6 {
        grid-row: 3;
        grid-column: 2;
        grid-template-rows: 11vw auto;
    }
    #dev7 {
        grid-row: 4;
        grid-column: 1;
        grid-template-rows: 11vw auto;
    }
    #dev8 {
        grid-row: 4;
        grid-column: 2;
        grid-template-rows: 11vw auto;
    }
}

/*-----------------------------------Contact----------------------------------*/
#contact div {
    display: grid;
    place-items: center;
    gap: 5px;
}
#contact h2 {
    margin-bottom: 25px;
}
#contact div input, #contact div textarea {
    width: 500px;
    border: thin solid;
    border-radius: 0.2rem;
    padding: 5px;
    font-family: inherit;
}
#contact div :nth-child(3) {
    padding: 0.3rem 0rem;
    background-color: white;
    width: 510px;
}
#contact div :nth-child(3):hover {
    background-color: var(--thirdcolor);
}

/*-----------------------------------Footer----------------------------------*/
#footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
    margin-top: 2vw;
    gap: 2vw;
}
.logo {
    max-height: 1rem;
}
.logo:hover {
    transform: scale(1.5);
}

