* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

    /*variables*/
    --firstcolor:#D0E3C4;
    --secondcolor:#503047;
    --thirdcolor:#C05746;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 1rem;
    font-family: existence, monospace;
    background-color: var(--firstcolor);
    min-height: 100vh;
}

main {
    padding-bottom: 30px;
}

h1 {
    font-size: 6vw;
    color: var(--secondcolor);
}

h2 {
    font-size: 2rem;
    color: var(--thirdcolor);
}

h3 {
    font-size: 1rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

p {
    font-size: 1vw;
}

/*---------------------------------header menu--------------------------------*/
.nav-menu {
    padding: 0.8rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
}

#item1 {
    grid-row: 1;
    grid-column: 1;
}

#item2 {
    grid-row: 1;
    grid-column: 2;
}

#sitelogo {
    display: grid;
    height: 6rem;
    grid-row: 1;
    grid-column: 3;
}

#item3 {
    grid-row: 1;
    grid-column: 4;
}

#item4 {
    grid-row: 1;
    grid-column: 5;
}

.nav-item a {
    padding: 0.5rem;
    font-size: 1vw;
    color: var(--secondcolor);
}

.nav-item a:hover {
    color: var(--thirdcolor);
    font-weight: bolder;
}

/*Responsiveness*/
@media (max-width:700px) {
    #item1 {
        grid-row: 2;
        grid-column: 1;
    }
    
    #item2 {
        grid-row: 2;
        grid-column: 2;
    }
    
    #sitelogo {
        height: 5rem;
        grid-row: 1;
        grid-column: 1/ span 4;
    }
    
    #item3 {
        grid-row: 2;
        grid-column: 3;
    }
    
    #item4 {
        grid-row: 2;
        grid-column: 4;
    }

    .nav-item a {
        font-size: 2vw;
    }
}

/*-----------------------------------main part--------------------------------*/
section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
    margin-top: 4vw;
}
/*------------------------------------roles-----------------------------------*/

#roles h1:hover {
    color: var(--thirdcolor);
}

.part {
    font-size: 1vw;
}

#role-item1 {
    grid-row: 1;
    grid-column: 1;
}

#home-image {
    max-height: 70vw;
    grid-row: 1;
    grid-column: 2;
}

#role-item2 {
    grid-row: 1;
    grid-column: 3;
}

/*------------------------------------about-----------------------------------*/

#about {
    justify-items: left;
}

.about {
    padding-top: 3vw;
}

.about p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/*------------------------------------cv--------------------------------------*/

#cv {
    grid-template-columns: 50vw 50vw;
    justify-items: left;
}

#cv-tittle {
    grid-row: 1;
    grid-column: 1;
}

#cv-item1 {
    grid-row: 2;
    grid-column: 1;
}

#cv-item2 {
    grid-row: 3;
    grid-column: 1;
}

#cv-item3 {
    grid-row: 4;
    grid-column: 1;
}

#cv-item4 {
    grid-row: 1/ span 3;
    grid-column: 2;
}

#cv-item5 {
    grid-row: 5;
    grid-column: 2;
}

#awards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10vw 30vw;
    gap: 10vw;
    justify-items: left;
}

#award-date1 {
    grid-row: 1;
    grid-column: 1;
}

#award1 {
    grid-row: 1;
    grid-column: 2;
}

#award-date2 {
    grid-row: 2;
    grid-column: 1;
}

#award2 {
    grid-row: 2;
    grid-column: 2;
}

#award-date3 {
    grid-row: 3;
    grid-column: 1;
}

#award3 {
    grid-row: 3;
    grid-column: 2;
}

.light-grey {
    background-color:#f1f1f1;
    position: relative;
    top: 3px;
}

.round {
    border-radius:8px;
}

.progress-bar {
    background-color: var(--thirdcolor);
    padding: 3px;
}

#portfolio {
    display: flex;
    flex-direction: column;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    transition: all 0.5;
}

.project-image img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    filter: grayscale(40%);
    opacity: 1;
    border-radius: 0.4rem;
}

.project-image p {
    position: absolute;
}

.project-image img:hover {
    filter: grayscale(80%);
    opacity: 1;
    border: solid var(--thirdcolor);
}

/* #sitefooter */
footer, #contact div {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 0.8rem;
    gap: 1rem;
    padding-bottom: 1rem;
}

#contact div input, #contact div textarea {
    width: 40%;
    border-radius: 0.4rem;
}

#contact div :nth-child(3) {
    padding: 0.3rem 0rem;
    background-color: white;
}

#contact div :nth-child(3):hover {
    background-color: var(--thirdcolor);
}

/* line with socialmedia logos */

.logo {
    max-height: 1rem;
}

.logo:hover {
    transform: scale(1.5);
}

