* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    margin-block: 0;
    margin-inline: 0;

    /*variables*/
    --firstcolor:#D0E3C4;
    --secondcolor:#503047;
    --thirdcolor:#C05746;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 1rem;
    font-family: existence, monospace;
    background-color: var(--firstcolor);
    min-height: 100vh;
}

main {
    padding-bottom: 30px;
}

h1 {
    font-size: 6vw;
    color: var(--secondcolor);
}

h2 {
    font-size: 2rem;
    color: var(--thirdcolor);
}

h3 {
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-size: 1vw;
}

/*---------------------------------header menu--------------------------------*/
.nav-menu {
    padding: 0.8rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
}

#item1 {
    grid-row: 1;
    grid-column: 1;
}

#item2 {
    grid-row: 1;
    grid-column: 2;
}

#sitelogo {
    display: grid;
    height: 6rem;
    grid-row: 1;
    grid-column: 3;
}

#item3 {
    grid-row: 1;
    grid-column: 4;
}

#item4 {
    grid-row: 1;
    grid-column: 5;
}

.nav-item a {
    padding: 0.5rem;
    font-size: 1vw;
    color: var(--secondcolor);
}

.nav-item a:hover {
    color: var(--thirdcolor);
    font-weight: bolder;
}

/*Responsiveness*/
@media (max-width:700px) {
    #item1 {
        grid-row: 2;
        grid-column: 1;
    }
    
    #item2 {
        grid-row: 2;
        grid-column: 2;
    }
    
    #sitelogo {
        height: 5rem;
        grid-row: 1;
        grid-column: 1/ span 4;
    }
    
    #item3 {
        grid-row: 2;
        grid-column: 3;
    }
    
    #item4 {
        grid-row: 2;
        grid-column: 4;
    }

    .nav-item a {
        font-size: 2vw;
    }
}

/*-----------------------------------main part--------------------------------*/
#roles, #about, #cv, #contact {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    place-items: center;
    margin-top: 4vw;
}
/*------------------------------------roles-----------------------------------*/

#roles h1:hover {
    color: var(--thirdcolor);
}

.part {
    font-size: 1vw;
}

#role-item1 {
    grid-row: 1;
    grid-column: 1;
}

#home-image {
    max-height: 70vw;
    grid-row: 1;
    grid-column: 2;
}

#role-item2 {
    grid-row: 1;
    grid-column: 3;
}

/*------------------------------------about-----------------------------------*/

#about {
    justify-items: left;
}

.about {
    padding-top: 3vw;
}

.about p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/*------------------------------------cv--------------------------------------*/

#cv {
    grid-template-columns: 50vw 50vw;
    justify-items: left;
    align-items: start;
}

#cv-tittle {
    grid-row: 1;
    grid-column: 1;
}

#cv-item1 {
    grid-row: 2;
    grid-column: 1;
}

#cv-item2 {
    grid-row: 5;
    grid-column: 1;
}

#cv-item3 {
    grid-row: 4;
    grid-column: 1;
}

#cv-item4 {
    grid-row: 2/ span 3 ;
    grid-column: 2;
}

#cv-item5 {
    grid-row: 3;
    grid-column: 1;
}

#cv-item6 {
    grid-row: 4;
    grid-column: 2;
}

/*EDUCATION--AWARDS--LANGUAGES--ACTIVITIES*/
#education, #awards, #languages, #activities {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10vw 30vw;
    row-gap: 2vw;
    justify-items: left;
}

#education a {
    color: black;
}

#education a:hover {
    color: var(--thirdcolor);
    font-weight: bolder;
}

/*SOFTWARE--CODING*/
.light-grey {
    background-color:#f1f1f1;
    position: relative;
    width: 200px;
    top: 8px;
}

.round {
    border-radius:8px;
}

.progress-bar {
    background-color: var(--thirdcolor);
    padding: 3px;
}

#software, #coding {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 2vw;
    justify-items: left;
}

/*-----------------------------------portfolio----------------------------------*/
#portfolio {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    place-items: center;
    margin-top: 4vw;
}

#portfolio > h2 {
    grid-row: 1;
    grid-column: 1/ span 4;
}

#portfolio > h3 {
    grid-row: 2;
    grid-column: 1/ span 4;
}

#kringlan {
    grid-row: 3;
    grid-column: 1;
}

#accelerator {
    grid-row: 3;
    grid-column: 2;
}

#ahouse {
    grid-row: 3;
    grid-column: 3;
}

#pegasus {
    grid-row: 3;
    grid-column: 4;
}

#polhemsgatan {
    grid-row: 4;
    grid-column: 1;
}

#ringvagen {
    grid-row: 4;
    grid-column: 2;
}

#sagen {
    grid-row: 4;
    grid-column: 3;
}

#flygaren {
    grid-row: 4;
    grid-column: 4;
}

#inrehamnen {
    grid-row: 5;
    grid-column: 1;
}

#kabeln {
    grid-row: 5;
    grid-column: 2;
}

#spannmalet {
    grid-row: 5;
    grid-column: 3;
}

#frosakull {
    grid-row: 5;
    grid-column: 4;
}

/*Responsiveness*/
@media (max-width:900px) {
    #portfolio {
        grid-template-columns: auto auto auto;
    }
    
    #portfolio > h2 {
        grid-column: 1/ span 3;
    }
    
    #portfolio > h3 {
        grid-column: 1/ span 3;
    }
    
    #kringlan {
        grid-row: 3;
        grid-column: 1;
    }
    
    #accelerator {
        grid-row: 3;
        grid-column: 2;
    }
    
    #ahouse {
        grid-row: 3;
        grid-column: 3;
    }
    
    #pegasus {
        grid-row: 4;
        grid-column: 1;
    }
    
    #polhemsgatan {
        grid-row: 4;
        grid-column: 2;
    }
    
    #ringvagen {
        grid-row: 4;
        grid-column: 3;
    }
    
    #sagen {
        grid-row: 5;
        grid-column: 1;
    }
    
    #flygaren {
        grid-row: 5;
        grid-column: 2;
    }
    
    #inrehamnen {
        grid-row: 5;
        grid-column: 3;
    }
    
    #kabeln {
        grid-row: 6;
        grid-column: 1;
    }
    
    #spannmalet {
        grid-row: 6;
        grid-column: 2;
    }
    
    #frosakull {
        grid-row: 6;
        grid-column: 3;
    }
}

@media (max-width:650px) {
    #portfolio {
        grid-template-columns: auto auto;
    }
    
    #portfolio > h2 {
        grid-column: 1/ span 2;
    }
    
    #portfolio > h3 {
        grid-column: 1/ span 2;
    }
    
    #ahouse {
        grid-row: 4;
        grid-column: 1;
    }
    
    #pegasus {
        grid-row: 4;
        grid-column: 2;
    }
    
    #polhemsgatan {
        grid-row: 5;
        grid-column: 1;
    }
    
    #ringvagen {
        grid-row: 5;
        grid-column: 2;
    }
    
    #sagen {
        grid-row: 6;
        grid-column: 1;
    }
    
    #flygaren {
        grid-row: 6;
        grid-column: 2;
    }
    
    #inrehamnen {
        grid-row: 7;
        grid-column: 1;
    }
    
    #kabeln {
        grid-row: 7;
        grid-column: 2;
    }
    
    #spannmalet {
        grid-row: 8;
        grid-column: 1;
    }
    
    #frosakull {
        grid-row: 8;
        grid-column: 2;
    }
}
.project-image img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    filter: grayscale(40%);
    opacity: 1;
    border-radius: 0.4rem;
}

.project-image p {
    position: absolute;
}

.project-image img:hover {
    filter: grayscale(80%);
    opacity: 1;
    border: solid var(--thirdcolor);
}

/*-----------------------------------portfolio----------------------------------*/
footer, #contact div {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 0.8rem;
    gap: 1rem;
    padding-bottom: 1rem;
}

#contact div input, #contact div textarea {
    width: 40%;
    border-radius: 0.4rem;
}

#contact div :nth-child(3) {
    padding: 0.3rem 0rem;
    background-color: white;
}

#contact div :nth-child(3):hover {
    background-color: var(--thirdcolor);
}

/* line with socialmedia logos */

.logo {
    max-height: 1rem;
}

.logo:hover {
    transform: scale(1.5);
}

